:root {
    /*text*/
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /*gradient*/
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    /*dividers*/
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));

    display: flex;
    flex-direction: column;
}

main {
    width: 330px;
    min-height: 536px; /*--para q cuando se expanda la tarjeta no se sobresalga el contenido*/
    
    background-color: white;
    border-radius: 30px;
    box-shadow: 3px 4px 5px var(--Very-dark-desaturated-blue);

    margin: 30% auto;
    padding: 25px;
}

.imgMobile {
    width: 250px;
    height: 260px;

    position: relative;
    bottom: 140px;
    margin: 0 auto;
}

.shadow {
    position: relative;
    bottom: 80px;
    width: 250px;
}

section {
    position:relative;
    bottom: 140px;
}

h1 {
    text-align: center;
    font-size: 35px;
    color: var(--Very-dark-desaturated-blue);

    padding-bottom: 20px;
    padding-left: 20px;
}

.questions {
    margin: 16px 0;
    font-size: 1.05em;
}

.questions[open] {
    font-weight: 700;
}

.questions[open] .arrowIcon {
    transform: rotate(180deg);
    transition: 300ms;
}
.question__summary {
    list-style: none;
}

.question__summary:hover {
    cursor: pointer;
    color: var(--Soft-red);
    font-weight: 700;
}

.question__answer {
    color: var(--Dark-grayish-blue);
    font-weight: 400;

    margin: 10px 0;
}

.arrowIcon {
    position: absolute;
    right: 5px;
    transition: 300ms;
}

.questions__line {
    border-color: transparent;
    border-bottom-color: var(--Light-grayish-blue);
}


/*footer*/
.attribution { 
    font-size: 12px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 1044px){
   
    main {
        width: 924px;
        height: auto;
        
        display: flex;
        gap: 10px;

        background-image: url("./images/bg-pattern-desktop.svg");
        background-position-x: -536px;
        background-position-y: -280px;
        background-repeat: no-repeat;
    }

   
    section {
        width: 100%;

        position: relative;
        top: 10px;
    }

    .imgMobile {
        width: 474px;
    }
    .imgMobile img {
        width: 474px;
        margin: 67px 0 0 -110px;
    }

    .shadow {
        display: none;
    }

    .text {
        padding: 15px 80px 20px 40px;
    }

    h1 {
        text-align: left;
        margin-bottom: 32px;
    }

    .attribution {
        font-size: 20px;
    }
    
}
